/* Contenedor del scroll */
.custom-scrollbar {
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent; /* Para Firefox */
}

/* Estilos para Chrome, Edge y Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Barra muy delgada */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Fondo de la barra invisible */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1); /* Color sutil */
  border-radius: 20px;
  border: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Se nota un poco más al pasar el mouse */
}