@import 'ngx-toastr/toastr';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de tema */
:root {
  --color-primary: #2563eb;
  --color-secondary: #1e40af;
  --color-accent: #38bdf8;
}
